  /* Set A4 size */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set content to fill the entire A4 page */
html,
body {
    width: 210mm;
    height: 297mm;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Style content with shaded background */
.content {
    width: 100%;
    /* Adjust the width as needed */
    height: 100%;
    /* Adjust the height as needed*/
    padding: 20px;
    box-sizing: border-box;
    background-color: #f3edc465;
    /* Light gray shade */
}

@media print,
screen and (min-width: 210mm) {

    

    html,
    body {
        font-family: "Fira Sans", sans-serif;
        width: 210mm;
        max-width: 210mm;
        height: 297mm;
        max-height: 297mm;
        padding: 0;
        margin: 0;
    }
}

.text-justify {
    text-align: justify;
    text-align-last: left;
  }

  .custom-display-6 {
    font-size: 32px !important; /* Adjust the size as needed */
  }

